body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #121212;
  color: #e0e0e0;
}

.App {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.key-features {
  padding: 20px;
  background-color: rgba(0, 123, 255, 0.3);
  color: #ffffff;
  text-align: center;
  backdrop-filter: blur(4px);
}

.feature-cards {
  display: flex;
  overflow-x: auto;
  gap: 20px;
  padding: 20px;
}

.feature-card {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  padding: 20px;
  width: 200px;
  backdrop-filter: blur(6px);
}

.container {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.left-container,
.right-container {
  flex: 1;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  backdrop-filter: blur(8px);
}

.input-container,
.results-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
}

.input-container.highlighted {
  background-color: rgba(0, 123, 255, 0.2);
}

.camera-screen {
  width: 100%;
  max-width: 150px;
  max-height: 100px;
}

pre {
  text-align: left;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #444;
  overflow-x: auto;
  color: #ccc;
}

input[type='file'],
button {
  font-size: 12px;
  padding: 6px 12px;
  margin: 3px 0;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #555;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

input[type='file'] {
  display: none;
}

.results-container {
  max-width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 20px;
  max-height: 400px;
}

.results-container pre {
  width: 100%;
  max-width: 100%;
  max-height: 300px;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-y: auto;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  scrollbar-width: thin;
  scrollbar-color: #007bff #333;
}

/* Custom Scrollbar for Chrome, Edge, and Safari */
.results-container pre::-webkit-scrollbar {
  width: 8px;
}

.results-container pre::-webkit-scrollbar-track {
  background: #333;
  border-radius: 4px;
}

.results-container pre::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 4px;
  border: 3px solid #333;
}

.results-container.shown {
  opacity: 1;
  transform: translateY(0);
}

/* Feature Cards Container Styles */
.feature-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 40px;
}

/* Individual Feature Card Styles */
.feature-card {
  flex-basis: calc(33.333% - 40px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

.feature-card h3 {
  font-size: 1.25rem;
  color: #00aaff;
  margin-bottom: 10px;
}

.feature-card p {
  text-align: center;
  color: #ccc;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .feature-card {
    flex-basis: calc(50% - 40px);
  }

  .input-container,
  .results-container {
    width: 100%;
  }

  .container {
    flex-direction: column;
    width: 100%;
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .feature-card {
    flex-basis: 100%;
  }
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.icon-button i {
  color: #eee;
}

.premium-content {
  background-color: rgba(255, 255, 255, 0.08);
  color: #e0e0e0;
  border-left: 5px solid #00aaff;
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(4px);
}

.premium-content h2 {
  color: #00aaff;
  margin-top: 0;
}

.premium-content p {
  font-size: 1rem;
  line-height: 1.6;
  margin: 10px 0;
}
