/* App.css */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

.App {
  display: flex;
  min-height: 100vh; /* Full screen height */
  justify-content: center;
  align-items: center;
}

.container {
  height: 60vh; /* 60% of the screen height */
  display: flex;
  justify-content: space-between;
}

.input-container,
.results-container {
  width: 48%; /* Equal width for both containers */
  padding: 20px;
  background-color: #fff; /* White background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  overflow-y: auto; /* Add vertical scrollbar when needed */
}

.input-container {
  margin-right: 20px;
}

.input-container.highlighted {
  background-color: #f0f8ff; /* Light blue background when highlighted */
}

h1 {
  color: #007bff;
  margin-bottom: 20px;
  margin-top: 0; /* Reset top margin */
}

h2 {
  color: #333;
  margin-bottom: 10px;
  margin-top: 0; /* Reset top margin */
}

pre {
  text-align: left;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
  overflow-x: auto;
  margin: 0; /* Reset margin */
  overflow-y: auto; /* Add vertical scrollbar when needed */
}

input[type="file"],
button {
  font-size: 12px; /* Decrease font size for buttons */
  padding: 6px 12px; /* Decrease padding for buttons */
  margin: 3px 0; /* Decrease margin for buttons */
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

button:disabled {
  background-color: #cccccc;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px; /* Decrease padding for file upload button */
  cursor: pointer;
  background-color: #007bff; /* Blue background */
  color: white;
  border-radius: 5px;
  font-size: 12px; /* Decrease font size for file upload button */
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Custom styles for file input */
input[type="file"] {
  display: none; /* Hide the default file input */
}

/* Animation for results container */
.results-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.results-container.shown {
  opacity: 1;
  transform: translateY(0);
}

/* Styling for the camera screen */
.camera-screen {
  width: 100%; /* Adjust the width as needed */
  max-width: 150px; /* Limit the maximum width */
  max-height: 100px; /* Limit the maximum height */
}
