/* HeaderComponent.css */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7); /* Transparent background with 70% opacity */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    z-index: 999; /* Ensure header stays on top */
  }
  
  .logo img {
    max-height: 40px; /* Adjust as per your logo's size */
  }
  
  .navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navigation ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .user-actions button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-right: 10px !important;
  }

  .user-actions{
    margin-right: 10px;
  }
  
  .user-actions button:hover {
    background-color: #0056b3;
  }
  

  /* Modal Backdrop */
.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
  }
  
/* Keyframes for animations */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }/* General modal styles */
.modalContent {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    color: #333;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .modalHeader h2 {
    font-size: 24px;
    font-weight: 600;
    color: #0056b3; /* A deep blue that looks professional */
    margin-bottom: 16px;
  }
  
  .modalContent p {
    font-size: 16px;
    line-height: 1.5;
    color: #666; /* A lighter shade for text */
    margin-bottom: 20px;
  }
  
  .modalList {
    list-style: inside;
    padding-left: 0;
  }
  
  .modalList li {
    background-color: #f0f0f0; /* Light grey background for list items */
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow for depth */
    transition: transform 0.2s ease-in-out;
  }
  
  .modalList li:hover {
    transform: translateY(-2px); /* A slight lift effect on hover */
    background-color: #e9ecef; /* Slightly lighter on hover */
  }
  
  /* Ensuring the last item has no bottom margin */
  .modalList li:last-child {
    margin-bottom: 0;
  }
  